# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Python Pipenv
Pipfile
Pipfile.lock
dataverk.egg-info

# Jupyter Notebook
.ipynb_checkpoints

# mkdocs documentation
/site

# VS code
.vscode

# Notes
.notes

# Environment variables
.env

**ca-bundle.crt