GitPython==2.1.11
SQLAlchemy==1.2.10
boto3==1.9.11
cryptography==2.3
cx_Oracle==7.1.0
elasticsearch==6.3.0
fire==0.1.3
google-api-core==0.1.4
google-auth==1.5.0
google-cloud-core==0.28.1
google-cloud-storage==1.10.0
google-resumable-media==0.3.1
googleapis-common-protos==1.5.3
importlib_resources==1.0.2
ipykernel==5.1.0
jenkins==1.0.2
notebook==5.7.4
numpy==1.15.2
pandas==0.23.3
prometheus_client==0.4.0
protobuf==3.6.1
pyarrow>=0.10.0
pycryptodomex==3.7.3
pyjstat==1.0.1
python-jenkins==1.3.0
pyyaml==4.2b1
requests==2.21.0
setuptools==40.8.0
Sphinx==1.8.4
typing==3.6.6
urllib3==1.24.1
sphinx_rtd_theme==0.4.2